<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title> Dự báo thời tiết </title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="app">
    <div id="d1" :style="{backgroundImage: 'url(' + city_image + ')'}">
      <div class="title" style="background: rgba(0, 0, 0, 0.05);">
        {{ city_name }}
      </div>
    </div>
    <div id="d2">
      <div class="title">
      Ngày
      </div>
      <div class="icon" v-if="url_icon_day">
        <img :src="url_icon_day" alt="">
      </div>
      <div class="description" v-if="description">
        {{ description.day }}
      </div>
      <div class="temp" v-if="temp">
        {{ temp.max }} &#176;C
      </div>
      <div class="next">
      </div>
      <div class="list" v-if="days.length > 0">
        <weather-day v-for="(day, index) in days" :key="index" v-if="index > 0"
          :day="day" :mode="'day'"
          ></weather-day>
      </div>
    </div>
    <div id="d3">
      <div class="title">
        Đêm
      </div>
      <div class="icon" v-if="url_icon_night">
        <img :src="url_icon_night" alt="">
      </div>
      <div class="description" v-if="description">
        {{ description.night }}
      </div>
      <div class="temp" v-if="temp">
        {{ temp.min }} &#176;C
      </div>
      <div class="next">
      </div>
      <div class="list" v-if="days.length > 0">
        <weather-day v-for="(day, index) in days" :key="index" v-if="index > 0"
          :day="day" :mode="'night'"
          ></weather-day>
      </div>
    </div>

    <div class="cities">
      <div v-for="(city, index) in cities" :key="index" :class="{city: true, active_city: city_key == city.value}" @click="city_key = city.value" >
        {{ city.name }}
      </div>
    </div>

    <div class="loading" v-if="load">
      Đang tải ...
    </div>
  </div>
  <script src="../js/vue.min.js"></script>
  <script src="js.js"></script>
</body>
</html>
