* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #212121;
  font-family: arial;
}

#app {
  display: grid;
  width: 800px;
  height: 400px;
  margin: 75px auto;
  background: #313131;
  grid-template-columns: 300px 250px 250px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#d1 {
  background: white no-repeat;
  background-size: cover;
  position: relative;
}

#d2 {
  position: relative;
  background: #2196F3;
}

#d3 {
  background: #263238;
  position: relative;
}

.icon {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.icon img {
  height: 150px;
  width: 150px;
}

.description {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.title {
  display: inline-block;
  color: white;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.temp {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
}

.next {
  font-size: 14px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.list {
  padding-top: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.weekday {
  font-size: 12px;
}

.wicon {
  padding-top: 5px;
  text-align: center;
}

.wicon img {
  width: 36px;
  height: 36px;
}

.wtemp {
  text-align: center;
  font-size: 12px;
}

.cities {
  background: #252525;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.city {
  box-sizing: border-box;
  padding-left: 10px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.city:hover {
  background: #0986f3;
}

.active_city {
  background: #2196F3;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background: #252525;
  color: #2196F3;
  position: fixed;
  top:  -100%;
  left: 0;
  animation: load 5s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

@keyframes load {
  0% {top: -100%;}
  50% {top: 0;}
  100% {top: 100%;}
}
